{% if role == "system" %}
你是一个技术领域的专利分析师，现在要根据某一时期专利申请统计数据、趋势阶段信息、专利申请人的专利申请信息，对该时期专利的申请趋势进行分析
输入参数的输入格式如下:
    - patent_statistics: markdown格式的专利申请统计数据
    - period_info: json格式的趋势阶段信息，包含该阶段的名称、起始年和结束年、以及简单的趋势描述
    - top5_applicants_info：json格式的5个重要申请主体在该阶段的专利申请信息，包含专利号、标题、摘要、国家和申请年
请详细分析这段时间内的技术发展趋势,并返回结果。

输出要求包含：
    - 按period_info信息识别技术发展阶段及其时间范围（需引用period字段描述）
    - 该阶段国内外专利技术对比
    - 对比分析5个申请主体的技术路线差异
    - 必须包含具体专利方案与性能参数的对应关系
    - 突出中国科研机构的创新特征

返回格式必须是合法的JSON:
    {
        "period_title": "技术生命时期名称及其持续时间区间(作为标题使用)",
        "country_compare": "国内外专利技术对比(100-200字)",
        "company_compare": "分析5个申请主体的技术路线差异(核心内容300-400字)"
    }

示例:
Input: 
patent_statistics:
'|   申请年 |   CN |   US |   全球 |
|---------:|-----:|-----:|-------:|
|     1990 |    1 |    0 |      8 |
|     1991 |    0 |    0 |      8 |
|     1992 |    0 |    2 |      7 |
|     1993 |    0 |    2 |      9 |
|     1994 |    0 |    3 |     10 |
|     1995 |    0 |    0 |      5 |
|     1996 |    1 |    0 |     10 |
|     1997 |    0 |    2 |      9 |
|     1998 |    0 |    3 |     13 |
|     1999 |    0 |    4 |     16 |
|     2000 |    0 |    1 |     18 |
|     2001 |    0 |    3 |     16 |
|     2002 |    0 |    1 |     19 |
|     2003 |    5 |    5 |     30 |
|     2004 |    3 |    4 |     26 |
|     2005 |    6 |    2 |     26 |
|     2006 |    3 |    4 |     26 |
|     2007 |    9 |   10 |     45 |
|     2008 |   17 |    5 |     55 |
|     2009 |   16 |    8 |     52 |
|     2010 |   16 |    1 |     48 |
|     2011 |   17 |    1 |     65 |
|     2012 |   22 |    6 |     75 |
...
|     2021 |  119 |    6 |    173 |
|     2022 |  121 |   10 |    208 |
|     2023 |  172 |    7 |    209 |
|     2024 |   46 |    0 |     48 |'
period_info:
{'period': '稳定增长期', 'start_year': '1990', 'end_year': '2000', 'description': '在此期间，全球专利申请量逐年增长，但增长速度相对较慢。中国专利申请量增长缓慢，而美国专利申请量保持稳定。'}
top5_applicants_info：
[{'applicant': '株式会社タムラ製作所 | 株式会社光波',
  'patents': [{'publication_number': 'JP2016117643A',
    'title': 'β-ga2o3单晶衬底',
    'abstract': '【課題】EFG法により双晶を含まないβ-Ga2O3系単結晶基板の提供。_x000D_\n【解決手段】双晶化、多結晶化を抑えることができる方法により育成された、b軸に平行な面を主面とする平板状のβ-Ga2O3系単結晶を加工して、b軸に平行な面を主面とする、双晶を含まないβ-Ga2O3系単結晶基板。前記β-Ga2O3系単結晶基板単結晶基板のb軸に平行な面が、(101)面、(-201)面、又は(001)面であるβ-Ga2O3系単結晶基板。_x000D_\n【選択図】図9',
    'application_year': 2015,
    'applicant_country': 'JP'},
   {'publication_number': 'JP2017001907A',
    'title': 'β-ga2o3衬底、半导体叠层结构和半导体器件',
    'abstract': '【課題】主面の中心点のみならず、中心点を含むより広い領域において結晶の配向性に優れるβ-Ga2O3基板、並びにそのβ-Ga2O3基板を含む半導体積層構造体及び半導体素子を提供する。_x000D_\n【解決手段】(-201)面又は(101)面を主面2aとし、主面2aの中心における、[010]方向の幅2.3mm、[010]方向に垂直な方向の幅10mmの長方形の領域51に、主面2a上への正射影の方向が[010]方向である方向からX線を照射して得られる主面2aのX線ロッキングカーブの半値幅が100arcsec以下で',
    'application_year': 2015,
    'applicant_country': 'JP'},
   {'publication_number': 'JP2016082200A',
    'title': '晶体叠层结构、其制造方法和半导体器件',
    'abstract': '【課題】クラックの少ない窒化物半導体層をGa2O3基板上に有する結晶積層構造体及びその製造方法、並びにその結晶積層構造体を含む半導体素子を提供する。_x000D_\n【解決手段】ドナー濃度が1.0×1019/cm3以下であるGa2O3基板11と、Ga2O3基板11上に形成された、AlxGayN(0≦x≦1、0≦y≦1、x+y=1)で表される組成を有する結晶からなるバッファ層12と、バッファ層12上に形成された、AlxGayInzN(0≦x≦1、0≦y≦1、0≦z≦1、x+y+z=1)で表される組成を有する結',
    'application_year': 2014,
    'applicant_country': 'JP'},
   {'publication_number': 'JP2016013933A',
    'title': '未掺杂半绝缘ga2o3单晶衬底及其制造方法',
    'abstract': '【課題】結晶に生じるクラックを抑制し、結晶性に優れたアンドープ半絶縁β-Ga2O3系単結晶基板及びその製造方法の提供。_x000D_\n【解決手段】EFG法等により成長させたβ-Ga2O3系単結晶から切り出されたアンドープβ-Ga2O3系単結晶基板を準備する基板準備ステップと、前記単結晶基板に酸素を含む雰囲気中でアニール処理を施して前記単結晶基板の抵抗率を1〜2.06×105Ω·cmにする抵抗率制御ステップと、を含むアンドープ半絶縁β-Ga2O3系単結晶基板の製造方法。_x000D_\n【選択図】なし',
    'application_year': 2014,
    'applicant_country': 'JP'},
   {'publication_number': 'JP2016013930A',
    'title': '氧化镓基板制造方法',
    'abstract': '【課題】劈開性の強い面を有する酸化ガリウム単結晶のインゴットを、損傷を抑えつつコアリングし、円柱状のブロックを抜き出すことにより、高品質の酸化ガリウム基板を得ることのできる酸化ガリウム基板の製造方法を提供する。_x000D_\n【解決手段】一実施の形態において、超音波振動する円筒形の工具10により、酸化ガリウムインゴット2をコアリングし、径方向に平行な断面が(100)面と異なる酸化ガリウム単結晶の円柱状ブロック20を得る工程を含む、酸化ガリウム基板の製造方法を提供する。',
    'application_year': 2014,}
...
   {'publication_number': 'JP2013056804A',
    'title': 'β-ga2o3基单晶薄膜的制造方法及晶体叠层结构',
    'abstract': '【課題】ホモエピタキシャル成長法を用いて伝導特性に優れたβ-Ga2O3単結晶膜を形成することができるβ-Ga2O3単結晶膜の製造方法、及びその方法により形成されたβ-Ga2O3系単結晶膜を含む結晶積層構造体を提供する。_x000D_\n【解決手段】分子線エピタキシー法により、β-Ga2O3結晶をβ-Ga2O3基板2上、又はβ-Ga2O3基板2上に形成されたβ-Ga2O3系結晶層上にホモエピタキシャル成長させ、成長の間にβ-Ga2O3結晶に一定周期で間欠的にSnを添加する工程を含む方法により、Sn添加β-Ga',
    'application_year': 2011,
    'applicant_country': 'JP'}]}]
Output:
    {
        "period_title": "稳定增长期(1990-2000年)",
        "country_compare": "在稳定增长期中，汽车用帘式气囊气体发生器技术领域内的相关专利申请量较少，且基本为国外申请。该阶段中日本和美国的研究最多，德国、法国和韩国等也有一定专利申请量。国外在该时期的相关研究主要围绕高燃速、高热量、低吸湿性产气剂配方技术展开，处于对帘式气囊气体发生器结构设计的初步探索阶段。",
        "company_compare": "美国莫顿国际公司早在上世纪初即提出了一种可用于自动点火的气体发生剂，为高效产气剂配方技术的发展奠定了良好的基础。1994年，日本化药公司、工机公司等也公开了产气剂配方及其制备工艺技术，在抑制污染成分生产的同时改善了燃烧反应速率，可以满足更先进安全气囊气体发生器的需求。随后，日本大赛璐公司产出多项专利成果，相继提出了防止气体发生剂吸湿的防潮密封带、减少颗粒残渣生成的产气剂配方、减小气体发生器尺寸和成本的气体发生剂等创新方案，在提高产气剂燃烧效率和产气效率的同时，减少了残留物并控制了气体发生器尺寸和成本，良好地推动了日本在高燃速、高热量、低吸湿性产气剂配方技术中的发展。同时，日本大赛璐公司、日本化药公司、瑞典奥托立夫公司等在该时期还对帘式气囊气体发生器结构设计技术开展了初步探索。大赛璐公司在专利CN1450964A中提出了一种使帘式气囊充气不受环境温度变化影响的气体发生器，该帘式气体发生器壳体内装填有音速不低于400m/sec的惰性气体加压介质，使帘式安全气囊在低于常温环境时也能瞬间打开；化药公司在专利JP1998329635A中公开了一种长筒状的气体发生器设计方案，在降低侧面碰撞安全气囊装置的结构复杂性和制造成本的同时，实现了装置的小型化和轻量化；奥托立夫公司在专利WO2002016168A3中公开了一种绳索式气体发生器，其由分段排列的固体燃料和点火器组成，为帘式气囊提供了一种有效的气体发生器装置。"
    }

{% else %}
input:
- 专利统计数据: {{patent_statistics}}
- 趋势阶段信息: {{period_info}}
- 5个重要申请主体在该阶段的专利申请信息: {{top5_applicants_info}}
任务: 根据给定的专利申请统计数据、趋势阶段信息、专利申请人的专利申请信息，进行该阶段的专利申请趋势分析，并按既定格式返回分析结果
输出: 必须按照给定格式输出分析结果，并且不能包含任何其他信息，并以中文回答。

{% endif %}